<h1>Préparation des étiquettes</h1>
<div>Trouvé <%=@wine_batch.wines.size%> vins. <a href='/'>Nouvelle recherche</a></div>
<% if @rebate > 0 %>
<div>Rabais de <%=@rebate%>% appliqué à tout.</div>
<div>Attention! N'inclue pas les étiquettes-rabais. Vérifiez votre facture.</div>
<% end %>
<% 1.upto(@wine_batch.wines.size).each_slice(9).to_a.each do |sheet| %>
  <%= form_tag('/generate', :method => "post") do %>
    <table>
      <tr>
        <th>CUP</th>
        <% sheet.each do |i| %>
          <% wine = @wine_batch.wines[i-1] %>
          <td>
            <a href='<%=wine.url%>'><%=wine.cup%></a>
            <%=hidden_field_tag("wine[#{i}][cup]", wine.cup)%>
          </td>
        <% end %>
      </tr>
      <tr>
        <th>Nom</th>
        <% sheet.each do |i| %>
          <% wine = @wine_batch.wines[i-1] %>
          <td><%=text_field_tag("wine[#{i}][nom]", wine.nom, :size => 30)%></td>
        <% end %>
      </tr>
      <tr>
        <th>Millésime</th>
        <% sheet.each do |i| %>
          <% wine = @wine_batch.wines[i-1] %>
          <td><%=text_field_tag("wine[#{i}][millesime]", wine.millesime, :size => 6)%></td>
        <% end %>
      </tr>
      <tr>
        <th>Pays</th>
        <% sheet.each do |i| %>
          <% wine = @wine_batch.wines[i-1] %>
          <td><%=text_field_tag("wine[#{i}][pays]", wine.pays, :size => 10)%></td>
        <% end %>
      </tr>
      <tr>
        <th>Prix</th>
        <% sheet.each do |i| %>
          <% wine = @wine_batch.wines[i-1] %>
          <td><%=text_field_tag("wine[#{i}][prix]", number_to_currency_qc_fr(wine.prix), :size => 6)%></td>
        <% end %>
      </tr>
      <tr>
        <th>Prix Payé</th>
        <% sheet.each do |i| %>
          <% wine = @wine_batch.wines[i-1] %>
          <td><%=text_field_tag("wine[#{i}][achat]", number_to_currency_qc_fr(wine.achat) + (wine.rebate_percent > 0 ? ' (-' + number_to_percentage(wine.rebate_percent, :precision=>0) + ')' : ''))%></td>
        <% end %>
        <!-- <th>Quantité</th> -->
          <!-- <td>text_field_tag("wine[#{i}][quantite]", wine.quantite, :size => 3)</td> -->
      </tr>
      <tr>
        <th>Cépage</th>
        <% sheet.each do |i| %>
          <% wine = @wine_batch.wines[i-1] %>
          <td><%=text_field_tag("wine[#{i}][cepage]", wine.cepage.to_s.gsub(/.50.%/, ',').gsub(/ %/, '%'), :size => 20)%></td>
        <% end %>
      </tr>
      <tr>
        <th>Garder</th>
        <% sheet.each do |i| %>
          <% wine = @wine_batch.wines[i-1] %>
          <td><%=text_field_tag("wine[#{i}][boire]", wine.boire, :size => 4)%> ans</td>
        <% end %>
      </tr>
      <tr>
        <th>Alcool</th>
        <% sheet.each do |i| %>
          <% wine = @wine_batch.wines[i-1] %>
          <td><%=text_field_tag("wine[#{i}][alcool]", wine.alcool, :size => 5)%></td>
        <% end %>
      </tr>
      <tr>
        <th>Service</th>
        <% sheet.each do |i| %>
          <% wine = @wine_batch.wines[i-1] %>
          <td><%=text_field_tag("wine[#{i}][temperature]", wine.temperature, :size => 7)%></td>
        <% end %>
      </tr>
      <tr>
        <th>Pastille</th>
        <% sheet.each do |i| %>
          <% wine = @wine_batch.wines[i-1] %>
          <td>
            <%=taste_tag(wine.pastille)%>
            <%=hidden_field_tag("wine[#{i}][pastille]", wine.pastille)%>
          </td>
        <% end %>
      </tr>
      <tr>
        <th>Dégustation</th>
        <% sheet.each do |i| %>
          <% wine = @wine_batch.wines[i-1] %>
          <td><%=text_area_tag("wine[#{i}][degustation]", wine.degustation, :class=>'degustation')%></td>
        <% end %>
      </tr>
      <tr>
        <th>Accords</th>
        <% sheet.each do |i| %>
          <% wine = @wine_batch.wines[i-1] %>
          <td><%=text_area_tag("wine[#{i}][accords]", wine.accords, :class=>'accords')%></td>
        <% end %>
      </tr>
    </table>
    <%= submit_tag("Générer") %>
  <% end %>
<% end %>

