<h1>Préparation des étiquettes</h1>
Trouvé <%=@wine_batch.wines.size%> vins. <a href='/'>Nouvelle recherche</a>

<% 1.upto(@wine_batch.wines.size).each_slice(9).to_a.each do |sheet| %>
  <%= form_tag('/generate', :method => "post") do %>
    <table>
      <tr>
        <th>CUP</th>
        <th>Nom</th>
        <th>Millésime</th>
        <th>Pays</th>
        <th>Prix</th>
        <th>Prix Payé</th>
        <!-- <th>Quantité</th> -->
        <th>Cépage</th>
        <th>Garder (ans)</th>
        <th>Alcool</th>
        <th>Service</th>
        <th>Pastille</th>
        <th>Dégustation</th>
        <th>Accords</th>
      </tr>
      <% sheet.each do |i| %>
        <% wine = @wine_batch.wines[i-1] %>
        <tr>
          <td>
            <a href='<%=wine.url%>'><%=wine.cup%></a>
            <%=hidden_field_tag("wine[#{i}][cup]", wine.cup)%>
          </td>
          <td><%=text_field_tag("wine[#{i}][nom]", wine.nom, :size => 30)%></td>
          <td><%=text_field_tag("wine[#{i}][millesime]", wine.millesime, :size => 6)%></td>
          <td><%=text_field_tag("wine[#{i}][pays]", wine.pays, :size => 10)%></td>
          <td><%=text_field_tag("wine[#{i}][prix]", wine.prix, :size => 6)%></td>
          <td><%=text_field_tag("wine[#{i}][achat]", wine.achat, :size => 6)%></td>
          <!-- <td><%=text_field_tag("wine[#{i}][quantite]", wine.quantite, :size => 3)%></td> -->
          <td><%=text_field_tag("wine[#{i}][cepage]", wine.cepage.to_s.gsub(/.50.%/, ',').gsub(/ %/, '%'), :size => 20)%></td>
          <td><%=text_field_tag("wine[#{i}][boire]", if wine.boire == 0 then "maintenant" else "< #{wine.boire} ans" end, :size => 6)%></td>
          <td><%=text_field_tag("wine[#{i}][alcool]", wine.alcool, :size => 5)%></td>
          <td><%=text_field_tag("wine[#{i}][temperature]", wine.temperature, :size => 7)%></td>
          <td>
            <%=taste_tag(wine.pastille)%>
            <%=hidden_field_tag("wine[#{i}][pastille]", wine.pastille)%>
          </td>
          <td><%=text_field_tag("wine[#{i}][degustation]", wine.degustation, :size => 30)%></td>
          <td><%=text_field_tag("wine[#{i}][accords]", wine.accords, :size => 30)%></td>
          <!-- <td><%=image_tag("/qr/30/#{wine.cup}.png", :alt => wine.cup) %></td> -->
        </tr>
      <% end %>
    </table>
    <%= submit_tag("Générer") %>
  <% end %>
<% end %>

